<!--
  Generated template for the EditprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="header-tab-area">
  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" #editForm="ngForm">
		<ion-list class="m-0">
			<ion-item>
        <ion-label fixed><ion-icon name="md-person"></ion-icon></ion-label>
				<ion-input type="text" placeholder="Name" formControlName="name" autocapitalize="off"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="( form.get('name').hasError('pattern') || form.get('name').hasError('required') ) && form.get('name').touched">
        <div class="error" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
          Please input your name
        </div>
        <div class="error" *ngIf="form.get('name').hasError('pattern') && form.get('name').touched">
          Just use alphabet character
        </div>
      </ion-item>
      <ion-item>
          <ion-label fixed><ion-icon name="ios-mail"></ion-icon></ion-label>
          <ion-input type="email" formControlName="email" readonly placeholder="Email"></ion-input>
      </ion-item>
			<ion-item>
        <ion-label fixed><ion-icon name="call"></ion-icon></ion-label>
        <ion-input type="number" placeholder="Phone No" formControlName="phone" autocapitalize="off" ></ion-input>
      </ion-item>

      <ion-item no-lines *ngIf="( form.get('phone').hasError('pattern') || form.get('phone').hasError('required') ) && form.get('phone').touched">
        <div class="error" *ngIf="form.get('phone').hasError('required') && form.get('phone').touched">
          Please input your phone no.
        </div>
        <div class="error" *ngIf="form.get('phone').hasError('pattern') && form.get('phone').touched">
          Just use number only and number must be 10 digit.
        </div>
      </ion-item>
      <ion-item>
          <!--<ion-label fixed><ion-icon name="ios-pin"></ion-icon></ion-label>-->
          <ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
      </ion-item>
      <ion-item>
        <ion-label fixed><ion-icon name="paper"></ion-icon></ion-label>
        <ion-textarea placeholder="About Yourself" formControlName="bio" autocapitalize="off" ></ion-textarea>
      </ion-item>

      <!--<ion-item>
        <ion-label fixed><ion-icon name="image"></ion-icon></ion-label>
        <p> Upload picture</p>
        <div><button ion-button color="btn-primary" (click)="presentActionSheet()">Get Image</button></div>
        
      </ion-item>-->

      <ion-item *ngIf="lastImage">
          <h4>Image Preview</h4>
          <img src="{{pathForImage(lastImage)}}" alt="Ionic File" width="300" />
      </ion-item>
		</ion-list>

    <ion-list class="mt-10 add-interest">
      <!--<ion-list class="m-0">-->
        <a class="text-dark-brown add-interest" (click)="addNewInputField()">  <ion-icon name="ios-add-circle-outline"></ion-icon>  Add Interested</a>
        <!--<ion-item>
          <ion-input type="text" placeholder="Type your interest"></ion-input>
        </ion-item>-->
        
        <ion-list *ngIf="!addNewInt">
            <ion-item *ngFor="let itemInt of mySelectedIntNameList">
                <ion-label>{{ itemInt.interest.name}}</ion-label>
            </ion-item>
            <ion-item *ngIf="mySelectedIntNameList?.length == 0">
                <ion-label> No interest found.</ion-label>
            </ion-item>
        </ion-list>
        <ion-searchbar *ngIf="addNewInt" (ionInput)="searchItems($event)"></ion-searchbar>
        <ion-list class="list_height" *ngIf="addNewInt">
          <ion-item *ngFor="let item of InterestDropdownList">
              <ion-label>{{ item.name }}</ion-label>
              <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" ></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="InterestDropdownList?.length == 0">
              <ion-label> No interest found.</ion-label>
          </ion-item>
        </ion-list>
          <!--<div formArrayName="interested" margin-bottom>
              <section
                 [formGroupName]="i"
                 *ngFor="let tech of form.controls.interested.controls; let i = index">
                 <ion-item-group>
                     <ion-item>
                       <ion-input type="text" maxlength="50" formControlName="interest_text" placeholder="Type your interest"></ion-input>
                    </ion-item>
                    <span  float-right ion-button icon-left clear *ngIf="form.controls.interested.length > 1" (click)="removeInputField(i)">
                       <ion-icon name="close"></ion-icon>
                       Remove
                    </span>
                 </ion-item-group>
              </section>
           </div>-->
      </ion-list>

		<ion-list no-lines>
			<div class="mt-10">
				<button ion-button class="btn-primary" [disabled]="!editForm.valid" (click)="updateDetails(form.value)" block>UPDATE</button>
      </div>
		</ion-list>
	</form>
</ion-content>
