page-editprofile {
    ion-content.dark-bg.content{
        background-color: #ffefed;
    }
    .logo{
    background: #fc8578;
    text-align: center;
    padding: 40px 20px;
    }
    .logo img{
    width: 160px;
    max-width: 100%;
    }
    .logo h2{
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    }
    ion-label[fixed] {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    margin: 0;
    ion-icon{
        color: #fc8578;
    }
    }
    .list .item-block .item-inner{
    border-bottom: none;
    input{
        margin-left: 0 !important;
    }
    }
    .list .item-block{
    border: none !important;
    background: #fff;
    margin-bottom: 20px;
    }
    .list .item-block:last-child{
    margin-bottom: 0;
    }

    form{
    padding: 30px 20px;
    }
    .forget-remember-area.list .item-block{
    padding: 0 !important;
    background: none;
    }
    .forget-remember-area .item .checkbox{
        margin: 9px 4px 9px 0px;
    }
    .forget-remember-area .label{
    font-size: 14px !important;
    }
    .btn-primary{
    margin-bottom: 15px;
    }
    .btn-primary ion-icon{
    margin-right: 10px;
    }
    .mt-10{
        margin-top: 20px;
    }
    .error {
        color: rgb(223, 62, 62);
        font-size: 11px;
    }
    .add-interest{
        margin-bottom: 15px;
        display: block;
        font-size: 16px;
        ion-icon{margin-right: 5px;}
    }
    .list_height{
        max-height: 200px;
        overflow-y: scroll;
    }
    .custom-autocomplete__dropdown{
        position: relative !important;
    }
    .padding-eight{padding:8px;}
    .add-interest .list .item-block{margin-bottom:0 !important}
}
