<!--<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      {{ 'WELCOME_INTRO' | translate }}
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="signup()">{{ 'SIGNUP' | translate }}</button>
    <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button>
  </div>
</ion-content>-->

<ion-header class="header-tab-area">
	<ul>
		<li *ngIf="isUserLogin"><ion-icon name="md-add-circle"></ion-icon>Create Post</li>
		<li *ngIf="isUserLogin" (click)="userLogout()"><ion-icon name="md-settings"></ion-icon>Logout</li>
		<li (click)="signup()" *ngIf="!isUserLogin"><ion-icon name="md-add-circle"></ion-icon>SignUp</li>
		<li (click)="login()"  *ngIf="!isUserLogin"><ion-icon name="md-log-in"></ion-icon>Login</li>
	</ul>
</ion-header>

<ion-content>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13780.02687388778!2d-3.455300947331467!3d39.71376458835653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xc42e3783261bc8b%3A0xa6ec2c940768a3ec!2sSpain!5e0!3m2!1sen!2sin!4v1524122436967" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
</ion-content>
<!-- <ion-tabs class="footer-tab-custom">
	<ion-tab tabTitle="Home" tabIcon="home"></ion-tab>
	<ion-tab (click)="group()" tabTitle="Group1" tabIcon="information-circle"></ion-tab>
	<ion-tab tabTitle="User" tabIcon="contacts"></ion-tab>
	<ion-tab tabTitle="Post" tabIcon="contacts"></ion-tab>
	<ion-tab tabTitle="Events" tabIcon="contacts"></ion-tab>
  
  </ion-tabs> -->
<ion-footer class="footer-tab-custom">
	<ul>
		<li (click)="home()" class="active"><img src="assets/imgs/home-active.png"><span>Home</span></li>
		<li (click)="grouplist()"><img src="assets/imgs/group.png"><span>Group</span></li>
		<li class=""><img src="assets/imgs/user.png"><span>User</span></li>
		<li class=""><img src="assets/imgs/post.png"><span>Post</span></li>
		<li (click)="event()"><img src="assets/imgs/event.png"><span>Events</span></li>
	</ul>
</ion-footer>
  