<!--
  Generated template for the GroupchatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar >     
      <ion-buttons start>
          <!-- <button ion-button icon-only>
            <ion-icon name="md-arrow-back"></ion-icon>
          </button> -->
        </ion-buttons>
        <ion-item class="header-item">
            <ion-avatar item-start>
              <img [src]="groupDetails?.image_url">
            </ion-avatar>     
            <h2>{{groupDetails?.name}}</h2>
            <!-- <span>active now</span> -->
        </ion-item> 
        <!-- <ion-buttons end >           
            <ion-icon name="md-more" class="line"></ion-icon>
          </ion-buttons> -->
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="fade-bg">
    <ion-list class="con-info">
      <ng-container *ngIf="chatList?.length > 0">
          <ion-item [ngClass]="(dataCmt?.customerId == userData.id)?'right-chat':'left-chat'" *ngFor="let dataCmt of chatList; let i=index">
            <ion-avatar *ngIf="dataCmt?.customerId == userData.id" item-end>
              <img *ngIf="dataCmt?.customer.image !=null" src="{{ getimageURI +'users/'+ dataCmt?.customer.image }}">
              <img *ngIf="dataCmt?.customer.image ==null" src="./assets/img/default.jpeg">
            </ion-avatar>
            <ion-avatar *ngIf="dataCmt?.customerId != userData.id" item-start>
                <img *ngIf="dataCmt?.customer.image !=null" src="{{ getimageURI +'users/'+ dataCmt?.customer.image }}">
                <img *ngIf="dataCmt?.customer.image ==null" src="./assets/img/default.jpeg">
            </ion-avatar> 
            <span class="name-u">{{ dataCmt?.customer.name }}</span>   
            <p>{{dataCmt?.message}}</p>                    
          </ion-item>
      </ng-container>
      <ng-container *ngIf="chatList?.length == 0">
        <ion-item>Sorry! No Conversation Found.</ion-item>
      </ng-container>
    </ion-list>    
  </ion-content>
  <ion-footer>
      <div class="chat-send">  
          <div class="chat-input-area">
            <input type="text" [(ngModel)]="message" placeholder="Write your comment">
          </div> 
          <button ion-button round [disabled]="message == ''" class="send" (click)="sendChat()">
            <ion-icon ios="ios-send" md="md-send"></ion-icon>
          </button>
        </div>
  </ion-footer>
