<ion-header class="header-tab-area">
	<div class="logo">
    <h2>Sign Up</h2>
   </div>
</ion-header>

<ion-content class="dark-bg">
  <!--<div class="logo">
    <h2>Sign Up</h2>
  </div>-->
  <form [formGroup]="form" #signupForm="ngForm">
		<ion-list class="m-0" *ngIf="!isNextFrm">
			<ion-item>
        <ion-label fixed><ion-icon name="md-person"></ion-icon></ion-label>
				<ion-input type="text" placeholder="Name" [formControl]="username" autocapitalize="off"></ion-input>
				<!--<p *ngIf="form.controls['username'].errors && !form.controls['username'].valid" class="text-danger" padding>Email is not valid.</p>-->
			</ion-item>
			<ion-item>
        <ion-label fixed><ion-icon name="ios-mail"></ion-icon></ion-label>
				<ion-input type="email" placeholder="Email Address" [formControl]="email" autocapitalize="off"></ion-input>
      </ion-item>
      <!--<ion-item>-->
          <!--<ion-label fixed><ion-icon name="ios-pin"></ion-icon></ion-label>-->

          <!--<ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>-->

        <!--<ion-label fixed><ion-icon name="ios-pin"></ion-icon></ion-label>
        <ion-input type="text" placeholder="Search for a place" [(ngModel)]="query" [ngModelOptions]="{standalone: true}" (ionInput)="searchPlace()"></ion-input>-->
        <!--<ion-searchbar [(ngModel)]="query" [ngModelOptions]="{standalone: true}" (ionInput)="searchPlace()" placeholder="Search for a place"></ion-searchbar>-->
        
      <!--</ion-item>-->
      
			<ion-item>
        <ion-label fixed><ion-icon name="md-lock"></ion-icon></ion-label>
				<ion-input type="password" placeholder="Password" [formControl]="password" autocapitalize="off" validateEqual="cpassword" name="password" reverse="true"></ion-input>
			</ion-item>
			<ion-item>
        <ion-label fixed><ion-icon name="md-lock"></ion-icon></ion-label>
				<ion-input type="password" placeholder="Confirm Password" [formControl]="cpassword"  name="cpassword" reverse="false" autocapitalize="off" validateEqual="password"></ion-input>
			</ion-item>
		</ion-list>
		<ion-list class="m-0 add-interest" *ngIf="isNextFrm">
        <ion-label>Select your interest</ion-label>
        <ion-searchbar [(ngModel)]="myInputStr" [ngModelOptions]="{standalone: true}" (ionInput)="searchItems($event)"></ion-searchbar>
        <ion-list class="list_height padding-eight">
            <ion-list *ngIf="custIntArr.length > 0">
                <ion-item *ngFor="let custInt of custIntArr; let i = index">
                    <ion-label> {{custInt}}  <a (click)="DeleteCustInt(i)"> <ion-icon name="md-close-circle"></ion-icon> </a></ion-label>
                </ion-item>
            </ion-list>
          <ion-item *ngFor="let item of InterestDropdownList">
              <ion-label>{{ item.name }}</ion-label>
              <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}" ></ion-checkbox>
          </ion-item>
          <ion-item *ngIf="InterestDropdownList.length == 0">
              <ion-label> "{{interestNameTest}}" <a (click)="AddCustInt()"> Add interest</a> </ion-label>
          </ion-item>
        </ion-list>

    <!--<ion-list class="m-0">-->
      <!--<a class="text-dark-brown add-interest" (click)="addNewInputField()">  <ion-icon name="ios-add-circle-outline"></ion-icon>  Add Interested</a>-->
        <div formArrayName="interested" margin-bottom>
            <section
               [formGroupName]="i"
               *ngFor="let tech of form.controls.interested.controls; let i = index">
               <ion-item-group>
               	  <ion-item>
                     <ion-input type="text" maxlength="50" formControlName="name" placeholder="Type your interest"></ion-input>
                  </ion-item>
                  <span  float-right ion-button icon-left clear *ngIf="form.controls.interested.length > 1" (click)="removeInputField(i)">
                     <ion-icon name="close"></ion-icon>
                     Remove
                  </span>
               </ion-item-group>
            </section>
         </div>
    </ion-list>
        
		<ion-list no-lines>
			<div>
        <button *ngIf="!isNextFrm" ion-button class="btn-primary" [disabled]="(!signupForm.valid || !checkEmailExist)" (click)="gotoNextSignup()" block>Next</button>
        <div class="sign-btn" *ngIf="isNextFrm">
          <button ion-button class="btn-primary" (click)="doSignup(form.value)" block>Sign up</button>
        </div>
        <p class=" text-center text-dark-brown font-weight-medium">OR </p>
        <button *ngIf="!isNextFrm" ion-button class="btn-primary btn-fb" block><ion-icon name="logo-facebook"></ion-icon> Connect With Facebook</button>
        <button *ngIf="!isNextFrm" ion-button class="btn-primary btn-twitter" block><ion-icon name="logo-twitter"></ion-icon> Connect With Twitter</button>
			</div>
		</ion-list>
		<p class="dont text-center text-dark-brown">Already have an account ? <span (click)="onLogin()" class="font-weight-medium text-primary text-uppercase"> Sign In </span></p>
	</form>
</ion-content>
